#root,.App {
  height: 100%
}

.pad-footer {
  padding-bottom: 100px;
}

.background {
  padding-bottom: 100px;
  /* height: 100% */
}

body { 
  padding-top: 70px; 
}

.h-vh {
  height: 100vh
}

.clickable { cursor: pointer; }